@import url(http://fonts.googleapis.com/css?family=Roboto:900);

body{
	background-image: url('omfgdogs.gif');
	background-repeat: repeat;
}

h1{
	display: none;
}

#credit{
	text-align: center;
	font-family: 'Roboto'; 
	font-weight: 900; 
	height: 30px; 
	width: 240px;
	background-color: black; 
	border-radius: 30px;  
	position: absolute;
	bottom: 0;  
	right: 0; 
	padding: 5px; 
	margin-bottom: 5px;
	margin-right: 5px;
	opacity: .8;
}

#link{
	text-decoration: none;
	color: white;
}


